DATABASE_URL=postgresql+psycopg://analytics:change-me@localhost:5434/mining_bd
JWT_SECRET_KEY=fd1306bb385abe73f99de05333a056b15944c32c05fd86590b500a6033bf0258
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
UPLOAD_DIR=./storage/uploads
CORS_ORIGINS=["http://localhost:5173"]
MAX_UPLOAD_SIZE_BYTES=52428800
